<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.staff.mapper.ArmsexpansionTargetMapper">
    
    <resultMap type="ArmsexpansionTarget" id="ArmsexpansionTargetResult">
        <result property="targetId"    column="target_id"    />
        <result property="occupationId"    column="occupation_id"    />
        <result property="targetNumber"    column="target_number"    />
        <result property="year"    column="year"    />
        <result property="month"    column="month"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectArmsexpansionTargetVo">
        select target_id, occupation_id, target_number, year, month, status, create_by, create_time, update_by, update_time, remark from armsexpansion_target
    </sql>

    <select id="selectArmsexpansionTargetList" parameterType="ArmsexpansionTarget" resultMap="ArmsexpansionTargetResult">
        <include refid="selectArmsexpansionTargetVo"/>
        <where>  
            <if test="occupationId != null "> and occupation_id = #{occupationId}</if>
            <if test="targetNumber != null "> and target_number = #{targetNumber}</if>
            <if test="year != null "> and year = #{year}</if>
            <if test="month != null "> and month = #{month}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectArmsexpansionTargetByTargetId" parameterType="Long" resultMap="ArmsexpansionTargetResult">
        <include refid="selectArmsexpansionTargetVo"/>
        where target_id = #{targetId}
    </select>
        
    <insert id="insertArmsexpansionTarget" parameterType="ArmsexpansionTarget" useGeneratedKeys="true" keyProperty="targetId">
        insert into armsexpansion_target
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="occupationId != null">occupation_id,</if>
            <if test="targetNumber != null">target_number,</if>
            <if test="year != null">year,</if>
            <if test="month != null">month,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="occupationId != null">#{occupationId},</if>
            <if test="targetNumber != null">#{targetNumber},</if>
            <if test="year != null">#{year},</if>
            <if test="month != null">#{month},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateArmsexpansionTarget" parameterType="ArmsexpansionTarget">
        update armsexpansion_target
        <trim prefix="SET" suffixOverrides=",">
            <if test="occupationId != null">occupation_id = #{occupationId},</if>
            <if test="targetNumber != null">target_number = #{targetNumber},</if>
            <if test="year != null">year = #{year},</if>
            <if test="month != null">month = #{month},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where target_id = #{targetId}
    </update>

    <delete id="deleteArmsexpansionTargetByTargetId" parameterType="Long">
        delete from armsexpansion_target where target_id = #{targetId}
    </delete>

    <delete id="deleteArmsexpansionTargetByTargetIds" parameterType="String">
        delete from armsexpansion_target where target_id in 
        <foreach item="targetId" collection="array" open="(" separator="," close=")">
            #{targetId}
        </foreach>
    </delete>
</mapper>